<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
    <body>
        <h1>{{ object.title }}</h1>
        <p>Цена: {{ object.price }} руб.</p>
        <p>Описание: {{ object.description }}</p>
        <p>Рубрика: {{ object.section.name }}</p>
        <p>Контактная информация: {{ object.author.name }}, {{ object.author.email }}, {{ object.author.phone }}</p>
        <p>Количество просмотров: {{ object.views_count }}</p>
    </body>
</html>