<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body class="body">
    <div class="header">
        <span>
            Новостная лента {{ group }}
        </span>
        {% if user.is_authenticated %}
        <a href="user_page/" class="input">
            {{ user.username }}
            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="24" height="24">
                <path d="M16.043,14H7.957A4.963,4.963,0,0,0,3,18.957V24H21V18.957A4.963,4.963,0,0,0,16.043,14Z"/><circle cx="12" cy="6" r="6"/>
            </svg>
        </a>
        {% else %}
        <div>
            <a href="login/" class="input">Вход</a>
            <a href="registration/" class="registration">
                Регистрация
            </a>
        </div>
        {% endif %}
    </div>
    <main class="main">
        <section class="section">
            <div class="container">
                <div class="content">
                    <p class="content__title">News.</p>
                    {% if user.profile.type_user == 'verified' %}
                    <form method="post">
                        {% csrf_token %}
                        <button value=1 name="news__create" class="btn btn-reset news__create">Создать новость</button>
                    </form>
                    {% endif %}
                </div>
                <div class="news">
                    <ul class="news__list list-reset">
                        {% for news_first in news_list_first %}
                        <li>
                            <a href="{{ news_first.id }}/detailed/" class="news__link">
                                <div class="news__item">
                                    <p class="news__title" style="font-size: 20px">{{ news_first.short_title }}</p>
                                    <p class="date">{{ news_first.create_date }}</p>
                                    <p class="more">
                                        Подробнее
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="24" height="24"><path d="M7.412,24,6,22.588l9.881-9.881a1,1,0,0,0,0-1.414L6.017,1.431,7.431.017l9.862,9.862a3,3,0,0,1,0,4.242Z"/>
                                        </svg>
                                    </p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="news__list news__list_second list-reset">
                        {% for news_second in news_list_second %}
                        <li>
                            <a href="{{ news_second.id }}/detailed/" class="news__link">
                                <div class="news__item">
                                    <p class="news__title" style="font-size: 20px">{{ news_second.short_title }}</p>
                                    <p class="date">{{ news_second.create_date }}</p>
                                    <p class="more">Подробнее
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="24" height="24"><path d="M7.412,24,6,22.588l9.881-9.881a1,1,0,0,0,0-1.414L6.017,1.431,7.431.017l9.862,9.862a3,3,0,0,1,0,4.242Z"/>
                                        </svg>
                                    </p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">

    </footer>
</body>
</html>