<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body class="body">
    <div class="header">
        <span>Регистрация</span>
        <div>
            <a href="../login/" class="input">Вход</a>
        </div>
    </div>
    <main class="main">
        <section class="section">
            <div class="container registration__container">
                <div class="content registration__content">
                    <p class="content__title registration__title registration__title_first">Ne</p>
                    <p class="content__title registration__title registration__title_second">ws</p>
                </div>
                <form action=" " method="post" class="form">
                    {% csrf_token %}
                    <div class="lists">
                        <ul class="list-reset form_list">
                            <li class="form__item">
                                <p class="form__title">Имя</p>
                                {{ form.username }}
                            </li>
                            <li class="form__item">
                                <p class="form__title">Пароль</p>
                                {{ form.password1 }}
                            </li>
                            <li class="form__item">
                                <p class="form__title">Повторите пароль</p>
                                {{ form.password2 }}
                            </li>
                        </ul>
                        <ul class="list-reset">
                            <li class="form__item">
                                <p class="form__title">Телефон</p>
                                {{ form.tel }}
                            </li>
                            <li class="form__item">
                                <p class="form__title">Город</p>
                                {{ form.city }}
                            </li>
                            <li class="form__item">
                                <p class="form__title">Тип пользователя</p>
                                {{ form.type_user }}
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn form__btn btn-reset">Зарегистрироваться</button>
                    {{ errors }}
                </form>
            </div>
        </section>
    </main>

    <footer class="footer">

    </footer>
</body>
</html>