<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertisement</title>
</head>
<body>
    <div style="padding: 30px 100px 0">
        <h1>Прошел все курсы на SkillBox. Продаю готовые домашние задания</h1>
        <ul>
            <li><a href="python_developer/">Python-разработчик</a></li>
            <li><a href="java_developer/">Java-разработчик</a></li>
            <li><a href="java_developer_pro/">Java-разработчик PRO</a></li>
            <li><a href="web_developer/">Веб-разработчик</a></li>
            <li><a href="c_developer/">1C-разработчик</a></li>
        </ul>
    </div>
</body>
</html>