<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>c_developer</title>
</head>
<body>
    <div style=" display: flex; justify-content: space-between; background-color: rgb(255, 215, 115);
    padding: 40px; margin: 40px 100px 0; border-radius: 30px; height: 1">
        <div style="display: inline-block; margin:auto 0 auto">
            <h1 style="margin:0; margin-bottom: 20px; font-size: 46px">Профессия 1C-разработчик</h1>
            <a href="https://skillbox.ru/course/profession-1c/">Ссылка на курс</a>
            <p style="font-size: 24px">Цена решения: от 500 руб / домашнее задание</p>
        </div>
        <div style="display: inline-block; margin:auto 40px auto">
            <img src="https://248006.selcdn.ru/LandGen/phone_5df6b6516eb2604c7f99a5236b90e097217fae1f.png"
             width="400px">
        </div>
    </div>
</body>
</html>