<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>python_developer</title>
</head>
<body>
    <div style=" display: flex; justify-content: space-between; background-color: rgb(96, 179, 255);
    padding: 40px; margin: 40px 100px 0; border-radius: 30px; height: 1">
        <div style="display: inline-block; margin:auto 0 auto">
            <h1 style="margin:0; margin-bottom: 20px; font-size: 46px">Профессия Python-разработчик</h1>
            <a href="https://go.skillbox.ru/profession/profession-python">Ссылка на курс</a>
            <p style="font-size: 24px">Цена решения: от 400 руб / домашнее задание</p>
        </div>
        <div style="display: inline-block; margin:auto 40px auto">
            <img src="https://248006.selcdn.ru/LandGen/phone_4589beaf332198133164e04e0fb855c2c1368858.png"
             width="400px">
        </div>
    </div>
</body>
</html>